@import "~sass-rem";
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #a0cbfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: rem(30px) 0;
    #search-bar {
        outline: none;
        font-size: rem(24px);
        border: 2px solid black;
        border-radius: rem(5px);
        padding: rem(8px);
        &::placeholder {
            padding: 0 0 0 rem(10px);
            color: #A8A7A7;
        }
    }
    #search-btn {
        border: none;
        outline: none;
        background-color: #a0cbfc;
        margin: 0 0 0 rem(10px);
        img {
            height: rem(32px);
            border: none;
            background-color: #a0cbfc;
            padding: rem(2px) 0 0 0;
            margin: 0;
        }
    }
}

#user {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: rem(50px) rem(50px) 0 rem(50px);
    .container {
        margin: rem(30px);
        p {
            font-size: rem(20px);
            text-align: center;
            margin: 0 0 rem(10px) 0;
        }
    }
    img {
        width: rem(180px);
        height: rem(180px);
    }
}

#load-btn {
    visibility: hidden;
    outline: none;
    font-weight: bold;
    font-size: rem(24px);
    background-color: #a0cbfc;
    border: none;
    margin: 0 0 rem(40px) 0;
}